<div class="wallet_block">
    <div>
        <h3 class="tabc-header">Add money to wallet</h3>
    </div>
    <div class="wallet">
        <div class="text-center">
            <h3>Current Balance</h3>
            <h1>$ {{auth.auth.user.balance}}</h1>
        </div>
        <hr>
        <div class="col-sm-12">
            <div class="nav nav-tabs text-center">
                <li id="paypal"><a data-toggle="tab" ng-click="paypal()"><img src="images/icons/paypal2.png"></a></li>
                <li id="stripe"><a data-toggle="tab" ng-click="stripe()"><img src="images/icons/stripe.png"></a></li>
                <li id="senang"><a data-toddggle="tab" ng-click="senang()"><img src="https://app.senangpay.my/public/img/pay.png"></a></li>
                <!-- <li id="senang"><a href="https://app.senangpay.my/payment/837150302604221"><img src="https://app.senangpay.my/public/img/pay.png"></a></li>   -->    
            </div>

            <div class="tab-content">

                <ui-view></ui-view>
                
            </div>
        </div>

        
    </div>
</div>

<script>
$(document).ready(function(){
    $('#paypal').on('click', function(){
        $('#paypal').addClass('active');
        $('#stripe').removeClass('active');
        $('#senang').removeClass('active');
    });
    $('#stripe').on('click', function(){
        $('#stripe').addClass('active');
        $('#paypal').removeClass('active');
        $('#senang').removeClass('active');
    });
    $('#senang').on('click', function(){
        $('#senang').addClass('active');
        $('#paypal').removeClass('active');
        $('#stripe').removeClass('active');
    });
});
    
</script>