<style type="text/css">
  .pay_acc .cam{
    padding-top: 32px;
    font-size: 23px;
  }

  .video_close-btn
  {
    position: absolute;
    right: 7px;
    top: 3px;
    z-index: 9999;
  }


#qr-scanner-modal .modal-content
{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
}

.scanner-line-containers
{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top:0px;
    left: 0px;
    overflow:hidden;
}


.scanner-line-containers .scanner-line 
{
    width: 100%;
    height: 15%;
    background: green;
    position: absolute;
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: scanning;
    animation-duration: 9s;
    -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite; 

    /*left: -15px;*/
    z-index: 999;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes scanning {
   0% {top:-15%%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.08) , rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.42), rgba(255, 0, 0, 0.72));
   }
   25% {top:100%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.72) , rgba(255, 0, 0, 0.43), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.08));
   }
   75% {top:-15%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.08) , rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.42), rgba(255, 0, 0, 0.72));
   }
   100% {top:100%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.72) , rgba(255, 0, 0, 0.43), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.08));
   }
}

/* Standard syntax */
@keyframes scanning {
  0% {top:-15%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.08) , rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.42), rgba(255, 0, 0, 0.72));
   }
   25% {top:100%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.72) , rgba(255, 0, 0, 0.43), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.08));
   }
   75% {top:-15%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.08) , rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.42), rgba(255, 0, 0, 0.72));
   }
   100% {top:100%;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.72) , rgba(255, 0, 0, 0.43), rgba(255, 0, 0, 0.32), rgba(255, 0, 0, 0.22), rgba(255, 0, 0, 0.08));
   }
}



</style>
<div class="pay_block">
      <div>
        <h3 class="tabc-header">Pay To Account</h3>
      </div>

      <div class="alert" ng-class="message_class" ng-show="message_class">
          {{message}}
      </div>

      <div class="pay_acc">
        <div class="col-sm-1">

        <select id="country_code" name="country_code" ng-model="pay_user_country_code" ng-focus="message_class=''" required>

          <option  ng-repeat="x in country_code" value="{{x['phone-code'].replace('+','')}}">{{x['alpha-2']+' '+x['phone-code']}}</option>
        </select>
          <!-- <select name="country_code" ng-model="pay_user_country_code"  ng-focus="message_class=''" required>
            <option value="91" selected>91</option>
            <option value="99">99</option>
          </select> -->
        </div>
        <div class="col-sm-2">
          <input type="number" class="col-sm-10" id="receiver_mobile" placeholder="Enter Mobile no" ng-model="pay_user_receiver_mobile" ng-focus="message_class=''">
          <i class="fa fa-qrcode cam" title="qrcode-scanner" ng-click="openQRScannerModal()" style="cursor:pointer"></i>
        </div>
        <div class="col-sm-2">
          <input type="number" class="col-sm-12" id="amount" placeholder="Amount" name="amount" ng-model="pay_user_amount" ng-focus="message_class=''">
        </div>
        <div class="col-sm-3">
          <input type="text" class="col-sm-12" id="remark" placeholder="Remark" ng-model="pay_user_remark" ng-focus="message_class=''">
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary col-sm-12 transfer-btn" ng-click="transferBalance()">
            <i class="fa fa-hourglass-start spin" ng-show="transfer_spinner"></i>
            <i class="fa fa-lock" ng-hide="transfer_spinner"></i> TRANSFER
          </button>
        </div>
      </div>
    </div>

    <!-- MODAL BLOCK -->

  <div class="container">

    <!-- Modal -->
    <div class="modal fade" id="qr-scanner-modal" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          
        
          <div class="modal-body">
                <button type="button" class="close video_close-btn" data-dismiss="modal" ng-click="closeQRScannerModal()">&times;</button>
                <div class="scanner-line-containers">
                    <div class="scanner-line"></div>
                </div>
                <video id="qr-scanner-preview"></video>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>

<style type="text/css">

    @media (max-width: 768px) {
      #paymentSuccessModal .modal-dialog
      {
        margin: 0px;
      }
      #paymentSuccessModal .modal-content
      {
        height: 100vh;
      }
    }

    @media (min-width: 768px){
    
      #paymentSuccessModal .modal-dialog {
          width: 317px;
          margin: 30px auto;
      }
    }


    #paymentSuccessModal .modal-content 
    {
      border-radius: 2px;
    }

    #paymentSuccessModal .top
    {
      padding-top: 10%;
        padding-bottom: 10px;
      background: #1fbe7b;
    }

    #paymentSuccessModal .fa-check-circle
    {
      font-size: 32px;
        color: white;
    }

    #paymentSuccessModal .circle-div
    {
      /*padding-top: 10%;*/
      position: relative;
      padding: 0 35px;
    }

    #paymentSuccessModal .amount-div
    {
      /*padding-top: 10px;*/
      color: white;
    }

    #paymentSuccessModal .fa-inr 
    {
      font-size: 25px;
      display: inline-block;
        position: relative;
        top: -20px;
    }

    #paymentSuccessModal .amount 
    {
      font-size: 76px;
    }

    #paymentSuccessModal .desc
    {
      color: white;
    }

    #paymentSuccessModal #myModal .bottom
    {
       padding-top: 19px;
        font-size: 15px;
        padding-bottom: 16px;
    }

    #paymentSuccessModal .bottom
    {
          padding-top: 20px;
    padding-bottom: 20px;
    }

  </style>

<!-- Modal -->
<div id="paymentSuccessModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

        <span class="close" ng-click="closeSuccessPaymentModal()" style="color:white">&times;</span>

        <div class="top">
            <div class="text-center circle-div">
              <i class="fa fa-check-circle"></i>
            </div>
            <div class="text-center amount-div">
              <i class="fa fa-inr"></i>
              <span class="amount" ng-bind="pay_user_amount"></span>
            </div>
            <div class="text-center desc">
              <p style="font-size: 13px;">Sent successfully to</p>
              <p style="font-size: 18px;font-weight: 700;text-shadow: 1px 0px 1px white;">{{pay_user_receiver_mobile}}</p>
              <p style="font-size: 10px" ng-show="pay_user_remark">Description</p>
              <p style="font-size: 12px;font-weight: 600;">{{pay_user_remark}}</p>
            </div>
        </div>
        <div class="bottom">
            
            <div class="text-center">
              <p>Updated Balance &nbsp;&nbsp;<span style="font-weight: 700;">$</span>&nbsp;<span style="font-size: 12px;">{{balance}}</span></p>
            </div>

            <div class="text-center">
              <i class="fa fa-credit-card" style="font-size: 20px;color: #4f587b;"></i>
              <span style="color: #4f587b;">Add Money</span>
            </div>

        </div>


    </div>

  </div>
</div>
