
<style>
	#stripe-payment-form * {
		font-family: "Helvetica Neue", Helvetica;
		font-size: 15px;
		font-variant: normal;
		padding: 0;
		margin: 0;
	}
	#stripe-payment-form {
		width: 480px;
		margin: 20px auto;
	}
	#stripe-payment-form .group {
		background: white;
		box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
		0 3px 6px 0 rgba(0,0,0,0.08);
		border-radius: 4px;
		margin-bottom: 20px;
	}
	#stripe-payment-form label {
		position: relative;
		color: #8898AA;
		font-weight: 300;
		height: 40px;
		line-height: 40px;
		margin-left: 20px;
		display: block;
	}
	#stripe-payment-form .group label:not(:last-child) {
		border-bottom: 1px solid #F0F5FA;
	}
	#stripe-payment-form label > span {
		width: 20%;
		text-align: right;
		float: left;
	}
	#stripe-payment-form .field {
		background: transparent;
		font-weight: 300;
		border: 0;
		color: #31325F;
		outline: none;
		padding-right: 10px;
		padding-left: 10px;
		cursor: text;
		width: 70%;
		height: 40px;
		float: right;
	}
	#stripe-payment-form .field::-webkit-input-placeholder { color: #CFD7E0; }
	#stripe-payment-form .field::-moz-placeholder { color: #CFD7E0; }
	#stripe-payment-form .field:-ms-input-placeholder { color: #CFD7E0; }
	#stripe-payment-form button {
		/*float: left;*/
		display: block;
		background: #666EE8;
		color: white;
		box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
		0 3px 6px 0 rgba(0,0,0,0.08);
		border-radius: 4px;
		border: 0;
		margin-top: 20px;
		font-size: 15px;
		font-weight: 400;
		width: 100%;
		height: 40px;
		line-height: 38px;
		outline: none;
	}
	#stripe-payment-form button:focus {
		background: #555ABF;
	}
	#stripe-payment-form button:active {
		background: #43458B;
	}
	#stripe-payment-form .outcome {
		float: left;
		width: 100%;
		padding-top: 8px;
		min-height: 24px;
		text-align: center;
	}
	#stripe-payment-form .success, .error {
		display: none;
		font-size: 13px;
	}
	#stripe-payment-form .success.visible, .error.visible {
		display: inline;
	}
	#stripe-payment-form .error {
		color: #E4584C;
	}
	#stripe-payment-form .success {
		color: #666EE8;
	}
	#stripe-payment-form .success .token {
		font-weight: 500;
		font-size: 13px;
	}

	.amount_error 
	{
		/*border: 1px solid red !important;*/
	}

</style>
<script type="text/javascript">
	


</script>



<div class="container">
<form id="stripe-payment-form" ng-submit="stripeSubmit()">
	<div class="group">
		<label>
			<span>Amount</span>
			<input type="number" class="field" ng-model="amount" placeholder="Enter amount" ng-class="amount_error">
		</label>

		<label>
			<span>Card</span>
			<div id="card-element" class="field" ng-model="card"></div>
		</label>
	</div>
	<button type="submit">Pay {{amount}} <span ng-show="amount">USD<span></button>
	<div class="outcome">
		<!-- <div class="error" role="alert"></div> -->
		<div class="success">
		Success! Your Stripe token is <span class="token"></span>
		</div>
	</div>
</form>
</div>