<style type="text/css">

	.profile-block, .password-block{
		padding: 20px 0;
	}

	.profile-block button, .password-block button{
		padding: 10px 0;
		margin: 25px 0;
	}
	.nav-tabs img{
		padding-right: 10px;
	}
	.middle-block{
		padding: 30px 0;	
	}
</style>

<div class="update">
	<div class="row">
		<div class="container">
			<div  class="middle-block text-center">

				<ul class="nav nav-tabs">
				    <li class="active"><a data-toggle="tab" href="#home"><img src="images/icons/edit_profile.png">Edit Profile</a></li>
				    <li><a data-toggle="tab" href="#menu1"><img src="images/icons/settings.png">Change Password</a></li>
				</ul>

			  	<div class="tab-content">
				    <div id="home" class="tab-pane fade in active">
				    	<div class="profile-block text-left">
					      	<div class="col-sm-12">
	                          	<input type="text" class="col-sm-3 modal-input" id="first_name" placeholder="Enter firstname" ng-model="profile_first_name" ng-focus="profile_update_error.first_name = ''">
	                          	<p style="color:red" class="col-sm-12" ng-show="profile_update_error.first_name">{{profile_update_error.first_name}}</p>
	                        </div>
	                        <div class="col-sm-12">
	                          	<input type="text" class="col-sm-3 modal-input" id="last_name" placeholder="Enter lastname" ng-model="profile_last_name" ng-focus="profile_update_error.last_name = ''">
	                          	<p style="color:red" class="col-sm-12" ng-show="profile_update_error.last_name">{{profile_update_error.last_name}}</p>
	                        </div>
	                        <div class="col-sm-12">
	                          	<input type="email" class="col-sm-3 modal-input" id="email" placeholder="Enter email" ng-model="profile_email" ng-focus="profile_update_error.email = ''">
	                          	<p style="color:red" class="col-sm-12" ng-show="profile_update_error.email">{{profile_update_error.email}}</p>
	                        </div>
	                        <div class="col-sm-12">

	                        <select id="country_code" class="col-sm-1" ng-model="profile_country_code" required>

					          	<option  ng-repeat="x in country_code" value="{{x['phone-code'].replace('+','')}}">{{x['alpha-2']+' '+x['phone-code']}}</option>
					        </select>
					        <p style="color:red" class="col-sm-12" ng-show="profile_update_error.country_code">{{profile_update_error.country_code}}</p>

	                        <input type="number" class="col-sm-2 modal-input" id="mobile_no" placeholder="Enter phone number" ng-model="profile_mobile_no" ng-focus="profile_update_error.mobile = ''">
	                        <p style="color:red" class="col-sm-12" ng-show="profile_update_error.mobile">{{profile_update_error.mobile}}</p>

	                        </div>
	                        <div class="col-sm-12">
	                          	<button type="button" class="col-sm-3 btn btn-primary" ng-click="userUpdate()">
	                          	<i class="fa fa-hourglass-start spin" ng-show="login_spinner"></i>
	                          	<i class="fa fa-lock" ng-hide="login_spinner"></i> Update Changes</button>
	                        </div>
	                    </div>
				    </div>
				    <div id="menu1" class="tab-pane fade">
				      	<div class="password-block text-left">

				      		<div class="col-sm-12">
	                          	<input type="password" class="col-sm-3 modal-input" id="password" placeholder="Enter new password" ng-model="profile_password" ng-focus="profile_update_error.password = ''">
	                          	<p style="color:red" class="col-sm-12" ng-show="profile_update_error.password">{{profile_update_error.password}}</p>
	                        </div>
	                        <div class="col-sm-12">
	                          	<button type="button" class="col-sm-3 btn btn-primary" ng-click="changePassword()">
	                          	<i class="fa fa-hourglass-start spin" ng-show="login_spinner"></i>
	                          	<i class="fa fa-lock" ng-hide="login_spinner"></i> Change Password</button>
	                        </div>

				      	</div>
				    </div>
			    </div>
		  	</div>

		</div>
	</div>
</div>